<md-sidenav class="md-sidenav-left md-whiteframe-z2" role="sidenav" md-component-id="left"  md-is-locked-open="$mdMedia('xs')">
	<md-content role="navigation">
		<md-list>
			<md-list-item ng-click="toast(action.link)">
				<md-icon>dashboard</md-icon>
				<p class="md-body-2">Propostas</p>
				<span flex></span>
				<md-icon>chevron_right</md-icon>
			</md-list-item>

			<md-list-item ng-click="toast(action.link)">
				<md-icon>face</md-icon>
				<p class="md-body-2">Meu perfil</p>
				<span flex></span>
				<md-icon>chevron_right</md-icon>
			</md-list-item>

			<md-list-item ng-click="toast(action.link)">
				<md-icon>exit_to_app</md-icon>
				<p class="md-body-2">Sair</p>
				<span flex></span>
				<md-icon>chevron_right</md-icon>
			</md-list-item>
		</md-content>
	</md-sidenav>
