<div data-ng-controller="ProposalController as vm" data-ng-init="vm.init()">
	<div layout="row" layout-padding  class="cover client_cover">
		<div layout-align="center" layout-padding flex>
			<h1 hide-xs>Meus Projetos</h1>
			<h3 hide-gt-sm hide-sm>Meus Projetos</h3>
		</div>
		<div layout-align="end center" hide-xs>
			<md-button class="md-raised md-fab md-primary button_cover" title="Nova Proposta"
				aria-label="Novo Cliente" data-ui-sref="admin.propostas.novo" data-ng-disabled="vm.enableNewProposal">
				<md-icon md-font-library="material-icons">add</md-icon>
			</md-button>
		</div>

		<div layout-align="end center" hide-gt-sm hide-sm>
			<md-button class="md-raised md-fab md-mini md-primary button_cover" title="Nova Proposta" data-ng-disabled="vm.enableNewProposal"
				aria-label="Novo Cliente" data-ui-sref="admin.propostas.novo">
				<md-icon md-font-library="material-icons">add</md-icon>
			</md-button>
		</div>
	</div>
	<p ng-repeat="(name, errs) in vm.errors" class="alert alert-danger"><strong>Erro! </strong>: {{ errs.join(', ') }}</p>
	<p data-ng-show="vm.enableNewProposal" class="alert alert-info">
		Você pode criar no máximo <strong>2 (duas) propostas</strong>. A proposta que for enviada <strong>não pode mais ser editada</strong>.
	</p>
	<div class='md-padding' id="client-list" layout="row" layout-wrap layout-align="center">
		<h2 data-ng-show="vm.proposals.length === 0" hide-xs>
			Vimos que você não tem propostas cadastradas. Clique no botão <img src="img/button_new_proposal.png" alt="Nova proposta"> para inserir.
		</h2>
		<h4 data-ng-show="vm.proposals.length === 0" hide-gt-sm hide-sm>
			Clique no botão <img src="img/button_new_proposal.png" width="48" height="48" alt="Nova Proposta"> para inserir.
		</h4>
		<md-card flex data-ng-repeat="proposal in vm.proposals">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{proposal.title}}</span>
					<span class="md-subhead"><strong>Data de Envio: </strong> {{proposal.created_at | date:'d/MM/yyyy'}}</span>
					<span class="md-subhead"><strong>Situação: </strong> {{proposal.status_display}}</span>
				</md-card-title-text>
				<md-card-title-media hide-xs>
					<i class="material-icons md-48">folder</i>
				</md-card-title-media>
			</md-card-title>
			<md-card-actions layout="row" layout-align="end center">
				<md-button class="md-fab md-mini md-primary md-hue-2" aria-label="Imprimir Comprovante"
					data-ui-sref="admin.propostas.detalhe_impressao({number: proposal.number})" style="margin-right: 5px;">
					<md-icon md-font-library="material-icons">print</md-icon>
				</md-button>
				<md-button class="md-fab md-mini md-primary" aria-label="Editar" data-ng-disabled="vm.isEditable(proposal)"
					data-ui-sref="admin.propostas.editar({number: proposal.number})" style="margin-right: 5px;">
					<md-icon md-font-library="material-icons">mode_edit</md-icon>
				</md-button>
				<md-button class="md-fab md-mini" aria-label="Remover" data-ng-click="vm.deleteDialog($event, proposal.number)"
					data-ng-disabled="vm.isEditable(proposal)">
					<md-icon md-font-library="material-icons">delete</md-icon>
				</md-button>
			</md-card-actions>
		</md-card>
	</div>
