<md-dialog aria-label="Cancelar Proposta"  ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Cancelar Proposta</h2>
			<span flex></span>
			<md-button class="md-icon-button" data-ng-click="vm.cancel()">
				<md-icon aria-label="Fechar">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<h2>Tem certeza que deseja cancelar o envio do seu projeto?</h2>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button class="md-button md-raised md-warn" data-ng-click="vm.cancelProposal()">
				<span hide-xs>Tenho, pode cancelar</span>
				<span hide-gt-sm hide-sm>Sim</span>
			</md-button>
			<md-button class="md-button md-raised md-primary" data-ng-click="vm.cancel()" style="margin-right:20px;">
				<span hide-xs>Não quero</span>
				<span hide-gt-sm hide-sm>Não</span>
			</md-button>
		</md-dialog-actions>
	</md-dialog>
