<md-dialog aria-label="Remover Proposta"  ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Detalhes da Proposta nº 01920</h2>
			<span flex></span>
			<md-button class="md-icon-button" data-ng-click="vm.cancel()">
				<md-icon aria-label="Fechar">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content" layout="column">
			<div class="md-padding" layout="column" flex>
				<h4>Proposta 10290</h4>
				<p><strong>Nome Completo: </strong> Carlos Silva Nascimento</p>
				<p><strong>CPF: </strong> 012.019.102-11</p>
				<p><strong>E-mail: </strong> carlos.silva@mail.com</p>
			</div>
			<md-content layout-padding>
				<md-list>
					<md-divider></md-divider>
					<md-subheader class="md-no-sticky">Arquivos enviados</md-subheader>
					<md-list-item class="secondary-button-padding">
						<p><a href="#">Nome_de_um_arquivo_enviado.pdf</a></p>
						<md-button class="md-secondary md-raised md-warn">
							<md-icon>file_download</md-icon>
							Download
						</md-button>
					</md-list-item>
					<md-list-item class="secondary-button-padding">
						<p><a href="#">Nome_de_um_arquivo_enviado.pdf</a></p>
						<md-button class="md-secondary md-raised md-warn">
							<md-icon>file_download</md-icon>
							Download
						</md-button>
					</md-list-item>
					<md-list-item class="secondary-button-padding">
						<p><a href="#">Nome_de_um_arquivo_enviado.pdf</a></p>
						<md-button class="md-secondary md-raised md-warn">
							<md-icon>file_download</md-icon>
							Download
						</md-button>
					</md-list-item>
					<md-list-item class="secondary-button-padding">
						<p><a href="#">Nome_de_um_arquivo_enviado.pdf</a></p>
						<md-button class="md-secondary md-raised md-warn">
							<md-icon>file_download</md-icon>
							Download
						</md-button>
					</md-list-item>
					<md-list-item class="secondary-button-padding">
						<p><a href="#">Nome_de_um_arquivo_enviado.pdf</a></p>
						<md-button class="md-secondary md-raised md-warn">
							<md-icon>file_download</md-icon>
							Download
						</md-button>
					</md-list-item>
					<md-list-item class="secondary-button-padding">
						<p><a href="#">Nome_de_um_arquivo_enviado.pdf</a></p>
						<md-button class="md-secondary md-raised md-warn">
							<md-icon>file_download</md-icon>
							Download
						</md-button>
					</md-list-item>
					<md-divider></md-divider>
				</md-list>
			</md-content>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<span flex></span>
		<md-button class="md-button md-raised md-primary">
			Sim, quero remover
		</md-button>
		<md-button class="md-button md-raised md-warn" data-ng-click="vm.cancel()" style="margin-right:20px;">
			Não quero
		</md-button>
	</md-dialog-actions>
</md-dialog>
