<div ng-controller="UserChangePasswordController as vm" data-ng-init="vm.init()">
	<div layout="column" ng-cloak class="md-inline-form">
		<div layout="row" layout-padding  class="cover client_cover">
			<div layout-align="left center" layout-padding flex>
				<h1 hide-xs>Alterar Senha</h1>
				<h3 hide-gt-sm hide-sm>Alterar Senha</h3>
			</div>
			<div layout-align="end" hide-xs>
				<md-button class="md-raised md-fab md-primary button_cover" aria-label="Voltar" data-ng-click="back()">
					<md-icon md-font-library="material-icons">arrow_back</md-icon>
				</md-button>
			</div>

			<div layout-align="end" hide-gt-sm hide-sm>
				<md-button class="md-raised md-fab md-mini md-primary button_cover" aria-label="Voltar" data-ng-click="back()">
					<md-icon md-font-library="material-icons md-24">arrow_back</md-icon>
				</md-button>
			</div>
		</div>
		<p ng-repeat="(name, errs) in vm.errors" class="alert alert-danger"><strong>Erro! </strong>: {{ errs }}</p>
		<form name="changePasswordForm" layout="row" layout-padding layout-align="center" data-ng-submit="vm.changePassword()" novalidate>
			<md-card flex="80">
				<md-content>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Email</label>
						<input name="email" ng-model="vm.user.email" type="text"
						required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
						<div ng-messages="changePasswordForm.email.$error" role="alert">
							<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
								Seu e-mail deve ser entre 10 e 100 caracteres and ter o formato de um e-mail correto.
							</div>
						</div>
					</md-input-container>
				</md-content>
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label>Digite a senha antiga</label>
						<input ng-model="vm.user.old_password" type="password" name="old_password" required>
						<div ng-messages="changePasswordForm.password1.$error" role="alert">
							<div ng-message="required" class="my-message">
								A senha é obrigatória
							</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Digite a senha</label>
						<input ng-model="vm.user.password1" type="password" name="password1" required>
						<div ng-messages="changePasswordForm.password1.$error" role="alert">
							<div ng-message="required" class="my-message">
								A senha é obrigatória
							</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Re-digite a senha</label>
						<input ng-model="vm.user.password2" type="password" name="password2" required>
						<div ng-messages="changePasswordForm.password2.$error" role="alert">
							<div ng-message="required" class="my-message">
								A senha é obrigatória
							</div>
						</div>
					</md-input-container>
				</div>
				<div layout="row" layout-align="center">
					<md-button class="md-raised md-primary" aria-label="Alterar Senha" type="submit" data-ng-disabled="changePasswordForm.$invalid">
						<md-icon>border_color</md-icon>
						<span hide-xs>Alterar Senha</span>
						<span hide-gt-sm hide-sm>Alterar</span>
					</md-button>
				</div>
			</md-card>
		</form>
	</div>
</div>
