<div ng-controller="UserUpdateController as vm" data-ng-init="vm.init()">
	<div layout="column" ng-cloak class="md-inline-form">
		<div layout="row" layout-padding  class="cover client_cover">
			<div layout-align="left center" layout-padding flex>
				<h1 hide-xs>Editar Usuário</h1>
				<h3 hide-gt-sm hide-sm>Editar Usuário</h3>
			</div>
			<div layout-align="end" hide-xs>
				<md-button class="md-raised md-fab md-accent button_cover" aria-label="Voltar"
					title="Voltar" data-ng-click="back()">
					<md-icon md-font-library="material-icons">arrow_back</md-icon>
				</md-button>
			</div>

			<div layout-align="end" hide-gt-sm hide-sm>
				<md-button class="md-raised md-fab md-mini md-accent button_cover" aria-label="Voltar"
					title="Voltar" data-ng-click="back()">
					<md-icon md-font-library="material-icons md-24">arrow_back</md-icon>
				</md-button>
			</div>
		</div>

		<p ng-repeat="(name, errs) in vm.errors" class="alert alert-danger"><strong>Erro! </strong>: {{ errs.join(', ') }}</p>
		<form name="peopleForm" method="post" layout="row" layout-padding layout-align="center" data-ng-show="vm.user.ente.cpf" data-ng-submit="vm.updateUser()" novalidate>
			<md-card flex="80">
				<md-content>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Nome Completo</label>
						<input ng-model="vm.user.name" name="name" type="text"
						data-md-minlength="10" data-md-maxlength="50" maxlength="50" required autofocus>
						<div ng-messages="peopleForm.name.$error" role="alert">
							<div ng-message="required" class="my-message">O nome é obrigatório</div>
							<div ng-message="md-minlength" class="my-message">O mínimo é de 10 caracteres</div>
						</div>
					</md-input-container>
					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm>
							<label>CPF</label>
							<input type="text" ng-model="vm.user.ente.cpf" name="cpf"
							required minlength="11" maxlength="14" ng-pattern="/^[0-9]{3}[\.][0-9]{3}[\.][0-9]{3}[\-][0-9]{2}$/" />
							<div ng-messages="peopleForm.cpf.$error" role="alert">
								<div ng-message-exp="['minlength', 'maxlength', 'pattern']" class="my-message">
									Insira o CPF no seguinte formato: 000.000.000-00
								</div>
								<div ng-message="required" class="my-message">
									O CPF é obrigatório
								</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Email</label>
							<input name="email" ng-model="vm.user.email" type="text"
							required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
							<div ng-messages="peopleForm.email.$error" role="alert">
								<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
									Seu e-mail deve ser entre 10 e 100 caracteres and ter o formato de um e-mail correto.
								</div>
							</div>
						</md-input-container>
						<md-input-container>
							<label>Número do CEAC</label>
							<input ng-model="vm.user.ente.ceac" name="ceac" type="text" data-md-minlength="4" data-md-maxlength="4" maxlength="4" required>
							<div ng-messages="peopleForm.ceac.$error" role="alert">
								<div ng-message="required" class="my-message">CEAC é obrigatório</div>
							</div>
						</md-input-container>
					</div>
					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm>
							<label>Digite a senha</label>
							<input ng-model="vm.user.password1" type="password" name="password1">
							<div ng-messages="peopleForm.password1.$error" role="alert">
								<div ng-message="required" class="my-message">
									A senha é obrigatória
								</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Re-digite a senha</label>
							<input ng-model="vm.user.password2" type="password" name="password2">
							<div ng-messages="peopleForm.password2.$error" role="alert">
								<div ng-message="required" class="my-message">
									A senha é obrigatória
								</div>
							</div>
						</md-input-container>
					</div>
				</md-content>
				<div layout="row" layout-align="center">
					<md-button type="submit" class="md-raised md-primary" aria-label="Atualizar" ng-disabled="peopleForm.$invalid">
						<md-icon>save</md-icon>
						<span>Atualizar</span>
					</md-button>
				</div>
			</md-card>
		</form>

		<form name="businessForm" method="post" layout="row" layout-padding layout-align="center" data-ng-submit="vm.updateUser()" data-ng-show="vm.user.ente.cnpj" novalidate>
			<md-card flex="80">
				<md-content>
					<md-input-container class="md-block" flex-gt-sm>
						<label>Representante Legal</label>
						<input ng-model="vm.user.name" name="name" type="text" data-md-minlength="10" data-md-maxlength="50" maxlength="50" required autofocus>
						<div ng-messages="businessForm.name.$error" role="alert">
							<div ng-message="required" class="my-message">O nome do representante é obrigatório</div>
							<div ng-message="md-minlength" class="my-message">O mínimo é de 10 caracteres</div>
						</div>
					</md-input-container>
					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm>
							<label>CNPJ</label>
							<input type="text" ng-model="vm.user.ente.cnpj" name="cnpj"
							required minlength="18" maxlength="18" ng-pattern="/^[0-9]{2}[\.][0-9]{3}[\.][0-9]{3}[\/][0-9]{4}[\-][0-9]{2}$/" />
							<div ng-messages="businessForm.cnpj.$error" role="alert">
								<div ng-message-exp="['minlength', 'maxlength', 'pattern']" class="my-message">
									Insira o CNPJ no seguinte formato: 00.000.000/0000-00
								</div>
								<div ng-message="required" class="my-message">
									O CNPJ é obrigatório
								</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Email</label>
							<input name="email" ng-model="vm.user.email" type="text"
							required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
							<div ng-messages="businessForm.email.$error" role="alert">
								<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
									Seu e-mail deve ser entre 10 e 100 caracteres and ter o formato de um e-mail correto.
								</div>
							</div>
						</md-input-container>
						<md-input-container>
							<label>Número do CEAC</label>
							<input ng-model="vm.user.ente.ceac" name="ceac" type="text" data-md-minlength="4" data-md-maxlength="4" maxlength="4" required>
							<div ng-messages="businessForm.ceac.$error" role="alert">
								<div ng-message="required" class="my-message">CEAC é obrigatório</div>
							</div>
						</md-input-container>
					</div>
					<div layout-gt-sm="row">
						<md-input-container class="md-block" flex-gt-sm>
							<label>Digite a senha</label>
							<input ng-model="vm.user.password1" type="password" name="password1">
							<div ng-messages="businessForm.password1.$error" role="alert">
								<div ng-message="required" class="my-message">
									A senha é obrigatória
								</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block" flex-gt-sm>
							<label>Re-digite a senha</label>
							<input ng-model="vm.user.password2" type="password" name="password2">
							<div ng-messages="businessForm.password2.$error" role="alert">
								<div ng-message="required" class="my-message">
									A senha é obrigatória
								</div>
							</div>
						</md-input-container>
					</div>
				</md-content>
				<div layout="row" layout-align="center">
					<md-button class="md-raised md-primary" aria-label="Atualizar" type="submit" ng-disabled="businessForm.$invalid">
						<md-icon>save</md-icon>
						<span>Atualizar</span>
					</md-button>
				</div>
			</md-card>
		</form>
	</div>
</div>
